"*":
  "atom-typescript": {}
  core:
    disabledPackages: [
      "asciidoctor-preview"
      "atom-wallaby"
      "atom-ternjs"
      "language-babel"
      "language-asciidoc"
    ]
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "Fira Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "d5dbca53-dc7f-b03b-1803-53c629afda3e"
  glist:
    gistDir: "/Users/jichao.ouyang/gists"
    githubToken: "**********"
  "language-babel": {}
  linter: {}
  "markdown-preview": {}
  welcome:
    showOnStartup: false
