"*":
  "atom-typescript": {}
  core:
    disabledPackages: [
      "asciidoctor-preview"
      "atom-wallaby"
      "atom-ternjs"
      "language-babel"
      "language-asciidoc"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "fira code"
    invisibles: {}
  "exception-reporting":
    userId: "d5dbca53-dc7f-b03b-1803-53c629afda3e"
  glist:
    githubToken: "**********"
  "language-babel": {}
  linter: {}
  "markdown-preview": {}
  welcome:
    showOnStartup: false
