"*":
  "exception-reporting":
    userId: "d5dbca53-dc7f-b03b-1803-53c629afda3e"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontFamily: "fira code"
  "atom-typescript": {}
  linter: {}
  "language-babel": {}
  "markdown-preview": {}
  glist:
    githubToken: "**********"
